{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<div class="title"><h1>Plotlyのグラフを描画</h1></div>

<!-- Line Chart -->
<div class="graph">
    <h2>Line Chart</h2>
    {{ line_chart|safe }}
</div>

<!-- Bar Chart -->
<div class="graph">
    <h2>Bar Chart</h2>
    {{ bar_chart|safe }}
</div>

<!-- Word Cloud -->
<div class="graph">
    <h2>WordCloud</h2>
    <img src="{{ wordcloud_image_url }}" alt="WordCloud Image" style="width:800px;height:600px;">
</div>

<!-- Export Link -->

<div>
    <a href="{% url 'plot:csv_export' %}" class="">エクスポート</a>
</div>

{% endblock %}